[submodule "flamegraph"]
	path = pyflamegraph/flamegraph
	url = https://github.com/brendangregg/FlameGraph
[submodule "pyflamegraph/flamegraph"]
	path = pyflamegraph/flamegraph
	url = https://github.com/brendangregg/FlameGraph
